.search-text {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 5px;
}

.search-bg {
  background-color: #1a5796;
}

.filter-title {
  font-size: 14px;
  font-weight: 900;
}

.card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.course {
  border: 1px solid #e6e8ec;
  padding: 33px 33px 29px 25px;
  display: flex;
}

.course:hover {
  background-color: #f6f6f6;
  border-color: #d5d6da;
}

img.course-thumbnail {
  width: 269px;
  height: 150px;
}

.course-info {
  padding-left: 3%;
  padding-right: 3%;
  align-self: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.course-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.course-badge {
  padding: 5px;
  border: 1px solid #19c27f;
  color: #19c27f;
  cursor: default;
  text-align: center;
}

.course-place {
  margin-top: 10px;
  color: #8ea7a7;
}

.course-tag-icon {
  font-size: 16px;
  margin-right: 6px;
}

.course-tag {
  color: #707b7b;
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 5px;
}

.course-price {
  font-weight: 700;
  font-size: 20px;
}
